{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&amp;display=swap" rel="stylesheet">
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="{%static 'css/stilos.css' %} ">
  <title>Registro</title>
  </head>
<body class="pantallaUno">
  <nav class="navbar navbar-expand-lg  navbar-light ">
    <div class="container">
      <a class="navbar-brand"><img src="{% static 'img/1.png' %}" class="logo-brand"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/Herramienta_Informes" id="home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/" id="usar">Cerrar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="container">
    <br><br>
    <h2 class="text-center text-register">Registro de usuarios</h2>
    <p class="text-muted text-center">Regístrese en el siguiente formulario</p>
    <br>
    <!-- Las filas (row ) son grupos HORIZONTALES  de columnas ,uso obligatorio -->        
    <div class="row justify-content-center">
      <div class="col-10">
        <section class="form-section">
          <form>
            <br>
          <div class="form-group">
              <label for="name" ><h5>Nombre completo</h5></label>
              <input type="text" class="form-control form">
                <div class="form-group">
                  <br>
                  <label for="SD"><h5>Sede</h5></label>
                    <select class="form-control form" id="SD">
                      <option value="CET">Centro de Electricidad Electrónica y Telecomunicaciones (CEET) </option>
                      <option value="Gn">Gaitana</option>
                      <option value="FT">Fontibón</option>
                      <option value="RP">Restrepo</option>
                      <option value="AL">Álamos</option>
                      <option value="">7 de Agosto</option>
                  </select>
                </div>
                <br>
                <div class="form-group">
                  <label for="TP id" ><h5>Tipo de documento</h5></label>
                  <!-- select(celda,desplegable) -->
                  <select class="form-control form" id="">
                    <option value="CC">Cédula de Ciudadania</option>
                    <option value="TI">Tarjeta de Identidad</option>
                    <option value="CE">Cédula de Extranjería</option>
                    <option value="NCS">Número ciego SENA</option>
                    <option value="PS">Pasaporte</option>
                    <option value="DNI">Documento Nacional de Identificación</option>
                    <option value="NIT">Número de Identificación Tributaria</option>
                    <option value="PR">PEP - RAMV</option>
                    <option value="PEP">PEP</option>
                  </select>
                </div><br>
                <div class="form-group mb-3">
                    <label for=""><h5>Número de Documento</h5></label>
                    <input type="number" class="form-control form" placeholder="">
                </div><br>
                <div class="form-group mb-3">
                    <label for="TT"><h5>Tipo de Titulación</h5></label>
                    <select class="form-control form" id="">
                      <option value="">Técnico</option>                    
                      <option value="">Tecnólogo</option>
                      <option value="">Especializada</option>
                      <option value="">Complementaria</option>
                    </select>
                </div><br> 
                <div class="form-group">
                  <label for="Ficha"><h5>Número de ficha</h5></label>
                  <input type="number" class="form-control form" placeholder="">
                </div><br>            
                <div class="form-group mb-3"><!-- agrupar label y otros conjuntos -->
                  <label for="email"><h5>Correo electrónico</h5></label>
                  <input type="email" class="form-control form " placeholder="Ingrese correo electronico">
                  <small class="text-danger"></small><!-- texto , danger -->
                </div><br>
                <div class="form-group mb-3">
                  <label for="Hr" ><h5>Horario</h5></label>
                  <select class="form-control form" id=""> 
                    <option value="">Diurna</option>
                    <option value="">Nocturna</option>
                  </select>
              </div><br>
              <!-- (btn-outline) brecuadro sin color  (btn-outline-dark) color de recuadro negro  -->
              <div>
                <a type="submit" class="boton-form" href="http://127.0.0.1:8000/">Enviar</a>
                <a type="submit" class="btn text-muted" href="http://127.0.0.1:8000/instructor_vista_Uno" >Volver</a>
              </div>
              <br>
              <br>
            </div>        
          </form>
        </section>
        <br>
      </div>
    <div>
  </section>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>