{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{%static 'css/Generador_Informres.css' %}">  
<title>Gestion de Consultas</title>
</head>
<body class="pantallaUno">
  <nav class="navbar navbar-expand-lg  navbar-light ">
      <div class="container">
        <a class="navbar-brand"><img src="{% static 'img/1.png' %}" class="logo-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/instructor_vista_Uno" id="home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/" id="usar">Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      <!--Main-->
      <main>
        <div class="container"><br><br>
          <h2 class="text-inform">GESTIÓN DE CONSULTAS E INFORMES GENERALES</h2>
          <div class="span-info">
            <span><img src="{% static 'img/info.png' %}" width="25" alt=""></span>
            <p class="text-muted ml-2">Permite ejecutar, crear y gestionar consultas e informes</p>
          </div>
          <hr>
          <div class="row">
            <div class="col-12-sm col-12-md col-12-xs col-12-xs col-12-lg">
              <h4>Visor de informes y consultas</h4>
              <p class="text-muted w-75 text-ing">Ingrese los datos que tenga y pulse Buscar. Deje los campos en blanco para obtener todos los resultados y valores</p>
              <section class="d-flex align-items-center section-info">
                <div class="col-4-sm col-4-lg col-4-md col-4-xs">
                  <label for="sel1"><h5>Buscar por</h5></label>
                  <select class="form-control info-form" id="sel1" name="sellist1">
                    <option>Nombre de informe</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="col-4-sm col-4-md col-4-xs col-4-lg">
                  <label for="sel1"><h5>Empieza por</h5></label>
                  <select class="form-control info-form" id="sel1" name="sellist1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="col-4-sm">
                  <label for="sel1"><h5>Seleccionar ficha</h5></label>
                  <select class="form-control info-form" id="sel1" name="sellist1">
                    <option>2024373</option>
                    <option>2021578</option>
                  </select>
                </div>
              </section>
            </div>
          </div><br><br>
          <h4>Mejores resultados de la búsqueda</h4>
          <p class="text-muted">Aquí están los mejores resultados según tus datos inscritos</p>
          <br>
          <div class="row">
            <div class="col-12-sm col-12-lg col-12-md col-12-xs">
              <section class="table-section">
                <table class="table">
                  <thead>
                    <tr>
                      <th>SEDE</th>
                      <th>Trimestre</th>
                      <th>Clase</th>
                      <th>ID Origen Datos</th>
                      <th>Formato</th>
                      <th>Fecha</th>
                      <th>Resultados</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>CEET</td>
                      <td>
                        <select class="form-control" id="sel1">
                          <option>I</option>
                          <option>II</option>
                          <option>III</option>
                          <option>IV</option>
                          <option>V</option>
                        </select>
                      </td>
                      <td>ADSI</td>                      
                      <td>SENA_CLASES_VIRTU</td>
                      <td>
                        <select class="form-control" id="sel1">
                          <option>PDF</option>
                          <option>EXCEL</option>
                        </select>
                      </td>                      
                      <td>
                        <select class="form-control" id="sel1">
                          <option>22/09/2021</option>
                          <option>22/09/2021</option>
                          <option>22/09/2021</option>
                          <option>22/09/2021</option>
                          <option>22/09/2021</option>
                        </select>
                      </td>
                      <td>
                        <a href="">
                          <button class="btn text-primary">Ver informe</button>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>CEET</td>                      
                      <td>
                        <select class="form-control" id="sel1">
                          <option>I</option>
                          <option>II</option>
                          <option>III</option>
                          <option>IV</option>
                          <option>V</option>
                        </select>
                      </td>
                      <td>ADSI</td>  
                      <td>SENA_CLASES_VIRTU</td>
                      <td>
                        <select class="form-control" id="sel1">
                        <option>PDF</option>
                        <option>EXCEL</option>
                        </select>
                      </td>                      
                      <td>
                        <select class="form-control" id="sel1">
                          <option>22/09/2021</option>
                          <option>22/09/2021</option>
                          <option>22/09/2021</option>
                          <option>22/09/2021</option>
                          <option>22/09/2021</option>
                        </select>
                      </td>
                      <td>
                        <a href="">
                          <button class="btn text-primary">Ver informe</button>
                        </a>
                      </td>                      
                    </tr>
                  </tbody>
                </table>
                <a href="#"><button class="btn btn-success">Iniciar Busqueda </button></a>
                <a class="btn btn-outline-danger" href="http://127.0.0.1:8000/instructor_vista_Uno">Cancelar</a>
              </section>
              <br>
            </div>
          </div>
        </div>
      </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE   +IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> 
</body>
</html>