{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href='{% static "css/Gestion_de_consultas.css" %}' rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap" rel="stylesheet">
  <title>Gestion de consultas</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg  navbar-light ">
    <div class="container">
      <a class="navbar-brand"><img src="{% static 'img/1.png' %}" class="logo-brand"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/instructor_vista_Uno" id="home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/" id="usar">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-9 mt-5">
            <section class="section-inform">              
              <img src="{% static 'img/profile.png' %}" class="imag-brand">
              <br>
              <h3 class="w-75">Permite consultar registros individuales y generales del sistema.</h3>
              <br>
              <a type="submit" class="btn bg-primary text-white" href="http://127.0.0.1:8000/gestion_de_consultas_informes_individuales">Consulta Individual</a><br><br>
              <a type="submit" class="btn bg-primary text-white" href="http://127.0.0.1:8000/gestion_de_consultas_de_informes_generales">Consulta General</a><br><br>
              <a href="http://127.0.0.1:8000/instructor_vista_Uno" class="btn-outline-danger">Cancelar</a>
            </section>
          </div>
        </div>
      </div>
    </main>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>