{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"crossorigin="anonymous"/>
    <link href= '{% static "css/style.css" %}'  rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&amp;display=swap" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <title>ORAS</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand"><img src="{% static 'img/1.png' %}" class="logo-brand"/></a>
          <button class="navbar-toggler"type="button"data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#" id="home"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="usar"></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <br>
    <main>
      <div class="container">
        <h1 class="text-project text-center">SIG-A ORAS</h1>
        <p class="text-center text-sistem">Sistema Integrado de Gestión de Asistencia</p>
        <br><br>
        <h2 class="text-center text-question">¿Qué eres?</h2>
        <p class="text-muted text-center text-register">Ingresa según tu rol en el SENA</p>
        <br>
        <div class="row primero">
          <div class="col-4-sm col-4-xs col-4-md col-4-lg col mini-primero">
            <div class="card" style="width:100%">
              <img class="card-img-top image-overlay" src="{% static 'img/instructor.jpg' %}" alt="Card image" style="width:100%">
              <div class="card-body overlay">
                <h4 class="card-title">Instructor</h4>
                <p class="card-text text-muted">Puedes recibir consultas respecto a tu proceso en la ficha. Asistencia, inasistencia o inasistencias justificadas</p>
                  <a class="boton-overlay" href="http://127.0.0.1:8000/ingresoInstructor">Ingresar</a>
              </div>
            </div>
          </div>
          <div class="col-4-sm col-4-xs col-4-md col-4-lg col mini-segundo">
            <div class="card" style="width:100%">
              <img class="card-img-top image-overlay" src="{% static 'img/aprendiz.jpg' %}" alt="Card image" style="width:100%">
              <div class="card-body overlay">
                <h4 class="card-title">Aprendiz</h4>
                <p class="card-text text-muted">Realiza consultas respecto a la asistencia de cada uno de los aprendices de tu ficha correspondiente</p>
                <a class="boton-overlay" href="http://127.0.0.1:8000/ingreso_aprendiz">Ingresar</a>
              </div>
            </div>
          </div>
          <div class="col-4-sm col-4-xs col-4-md col-4-lg col mini-tercero">
            <div class="card" style="width:100%">
              <img class="card-img-top image-overlay" src="{% static 'img/adminLogin.jpg' %}" alt="Card image" style="width:100%">
              <div class="card-body overlay">
                <h4 class="card-title">Administrador</h4>
                <p class="card-text text-muted">Puedes editar, eliminar, actualizar o añadir a cualquier aprendiz dentro de tu ficha de formación</p>
                <a class="boton-overlay" href="http://127.0.0.1:8000/inicio">Ingresar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <br>
  </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9KScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

