{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <!--Required meta tags-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap" rel="stylesheet"/>
    <link href='{% static "css/style_recordar_contraseña.css" %}' rel="stylesheet" />
    <title>Recordar contraseña administrador</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand"><img src="{% static 'img/1.png' %}" class="logo-brand"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"aria-expanded="false"aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" id="home"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="usar"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Main-->
    <main>
      <div class="container"><br>
          <h4 class="text-center text-muted text-admin">Vista del administrador</h4>
        <div class="row">
          <div class="col-9-sm mx-auto d-block text-center">
            <section class="form-verification">
              <h3 class="text-password">Recupera tu contraseña</h3>
              <p class="text-muted text-center w-75 mx-auto d-block text-app">El aplicativo web ORAS te recordará tu contraseña por medio de tu correo. Por favor, digita tu número de documento para la validación</p>
              <img src="imagenes/profile.png" alt="">
              <input class="form-group text-center form-number" type="number" placeholder="No. de documento"><hr>
              <br>
              <h3 class="text-password">Correo de confirmación</h3>
              <p class="text-muted text-center mx-auto d-block w-75 text-app">Verifica la bandeja de entrada de tu correo electrónico, esto se usará para enviarte el correo de confirmación</p>
              <img src="imagenes/check.png" alt="">
              <input type="email" class="form-group text-center form-number" placeholder="Ej. 123@misena.edu.co">              
            </section><br>
            <a class="btn bg-primary text-white" href="http://127.0.0.1:8000/ingresosAdministrativosORAS">Guardar cambios</a>
            <a class="btn btn-outline-danger" href="http://127.0.0.1:8000/ingresosAdministrativosORAS">Cancelar y volver</a>
          </div>
        </div>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
